.box1{
    background-color: yellow;
    border: 20px solid red;
    padding: 10px;
    text-align: center;
    margin: 50px;
    height: 100px;
    width: 100px;
}

.box2{
    background-color: rgb(173, 219, 173);
    border: 2px solid blue;
    padding: 20px;
    margin: 50px;
}