body{
    background-image: url('pexels-miguel-á-padriñán-1061138.jpg');
    background-size: cover;
}
.main_header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    color: white;
    background-color: black;
    margin: 0px;
    padding: 15px;
    height: auto;
    border: 3px solid white;
}
 

.list_links{
    
    display: grid;
    margin: 200px;
    padding: 10px;
    float: right;
    position: relative;
    top: -50px;
    
    display: grid;
    text-align: center;  
    list-style: none;
    font-size: 200%;
    color: black;
}
